.first-block-para {
    display: none;
    text-align: center;
    width: 80%;
    margin: 1em auto 0em auto;
    font-family: 'Museo Sans Rounded 300', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5em;
}

.enlighted-flower {
    opacity: 0.3;
}

.petal {
    fill: #731745;
    stroke: #964774;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.petal {
    fill: #731745;
    stroke: #964774;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.petal {
    fill: #731745;
    stroke: #964774;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.human-inside {
    fill: #731745;
}

.human-outside {
    fill: #731745;
    stroke: #964774;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.chakra {
    fill: #F89621;
}

.overlay {
    fill: transparent;
}

#enlighted-human {
    position: inherit;
    width: 100%;
    
    padding: 0;
}