@import url("fonts/museo-slab/style.css");
@import url("fonts/museoSansRounded/style.css");

:root {
    --orange: #F89621;
    --margenta: #731745;
    --light-pink: #A14076;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--margenta);
    text-align: center;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    font-family: museoSansRounded;
}

.flower-front-top{
    fill: var(--margenta);
    stroke: var(--orange);
    stroke-miterlimit:10;
    stroke-width:3px;
}

.spacer {
    width: 100%;
    margin: 20px auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.fifty {
    width: 50%;
}

.flower-back-middle {
    fill: var(--margenta);
    stroke:#964774;
    stroke-miterlimit:10;
    stroke-width:3px;
}

h1, h2, h3, p {
    color: white;
}

#la {
    margin: 2px 5px;
    width: 3vw;
}

.orange-text {
    color: var(--orange);
}

.main-heading {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background-color: var(--margenta);
}

.main-heading h1 {
    font-family: 'Museo Sans';
    font-size: 4vw;
}

.flower-back-top-left,
.flower-back-top-right,
.flower-back-bottom-left,
.flower-back-bottom-right {
    fill: var(--margenta);
    stroke:#964774;
    stroke-miterlimit:10;
    stroke-width:3px;
}

.topRight,
.topLeft,
.bottomRight,
.bottomLeft {
    position: absolute;
    opacity: 0.5;
    width: 500px;
    z-index: -1;
}

.topRight {
    top: -200px;
    right: -200px;
}

.topLeft {
    top: -200px;
    left: -200px;
}

.bottomLeft {
    
    left: -200px;
}

.bottomRight {
    
    right: -200px;
}

.logo {
    width: 20%;
}

.top-orange-flower {
    width: 60%;
}

.diamond {
    width: 85%;
    margin: 10px auto;
    height: 2px;
    color: var(--orange);
}

.main-para {
    width: 80%;
    margin: 20px auto;
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
}

.ipara>p{
    text-align: left;
    width: 70%;
    margin: 10px 0px 10px 45px;
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 300;
    font-size: 1.2vw;
}

.indicator {
    margin: 20px 10px 50px 0px;
    text-align: left;
    
}

.indicator > .heading {
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    
}

.ipara {
    text-align: left;
}

.btn-primary {
    margin: 10px 10px 20px 45px;
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    padding: 0.5em 1em;
    background-color: var(--orange);
    border: 0;
    border-radius: 1vw;
}

.bottom-line {
    margin: 20px auto;
    width: 85%;
    color: var(--light-pink);
}

footer * {
    color: var(--light-pink);
    font-size: 1rem;
}

.human-bg {
    background-image: url(SVG/human.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.human-bg > figure {
    width: 15%;
    margin: 0 auto 6% auto;
}

.chakra .cls-1:hover{
    stroke: white;
}